In [2]:
import pandas as pd

In [64]:
df = pd.read_table("conv3.txt",sep = ':')

In [65]:
df

,CHARACTER,DIALOGUES
0,WILL,"I’ve never seen wildlings do a thing like this. I’ve never seen a thing like this, not ever in my life."
1,WAYMAR ROYCE,How close did you get?
2,WILL,Close as any man would.
3,GARED,We should head back to the wall.
4,ROYCE,Do the dead frighten you?
...,...,...
107,NED,Tell me about Jon Arryn.
108,ROBERT,"One minute he was fine, and then … Burned right through him, whatever it was. I loved that man."
109,NED,We both did.
110,ROBERT,"He never had to teach you much, but me … You remember me at 16? All I wanted to do was crack skulls and fuck girls. He showed me what was what."
111,NED,Aye.

In [66]:
y = df.CHARACTER.unique()

In [67]:
print(y)

['WILL' 'WAYMAR ROYCE' 'GARED' 'ROYCE' 'CHARCTER' 'JON' 'SEPTA MORDANE'
 'SANSA' 'NED' 'ROBB' 'CASSEL' 'CATELYN' 'BRAN' 'THEON' 'CERSEI' 'JAIME'
 'ROBERT' 'ARYA']